<%- include ('partials/header') %>

  <title> Dashboard </title>


  <link rel="stylesheet" type="text/css" href="/css/student_dashboard.css">
<style>
  .card{
    opacity: 0.9;
    transition-delay: 100ms;
    border-radius: 12px;
  }
.card:hover{
  cursor: pointer;
  /* background-color: rgb(223, 241, 236); */
  box-shadow: 6px 6px 12px grey;
  opacity: 1;
}
</style>
  <body class="overlay-scrollbar">
    <%- include ('partials/navbar.ejs') %>
    <%- include ('partials/institution_sidebar.ejs') %>

        <div class="wrapper">
          <div class="row container-fluid text-center " style="margin-left: 2rem; margin-top: 2rem; ">
            <!-- this is progress bar code  -->
           
              <% for(var i=0; i < result.length; i++) { %>
                <div class="card col-lg-4 col-sm-6 col-m-6 " style="margin-right: 1rem; padding-top: 1rem;">
                  <div>
                  <img src="/img/avatar.svg" style="width: 8rem; height: 8rem;" alt="Image">
                  <div class="card-body">
                    <h5 class="card-title" style="font-size: 2rem;">
                      <%= result[i].name %> <%= result[i].section %>
                    </h5>
                    <!-- <p class="card-text">This is sample text.</p> -->
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
                </div>
                <% } %>
            </div>

        </div>

        <script type="text/javascript" src="/js/student_dashboard.js"></script>
        <!-- end import script -->
        <%- include ('partials/footer.ejs') %>