<%- include ('partials/header') %>

    <link rel="stylesheet" href="/css/home.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Education App</title>
    </head>

    <body>
        <div class="container-fluid col-lg-10" style="
    background-color: whitesmoke;  margin-top: 1rem;">
            <header class="head my-3">
                <nav class="navbar navbar-expand-lg navbar-light head__custom-nav">
                    <a class="navbar-brand d-flex align-items-center" href="/">
                        <img src="/img/logo.png" alt="website logo">
                        <span>Education App</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                        <span><i class="fas fa-bars"></i></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="#features_section">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#price_body">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#testimonial_body">Testimonials</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about_section">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register">SignUp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">LogIn</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
        <div class="container">
            <div class="row custom-section d-flex align-items-center">
                <div class="col-12 col-lg-4">
                    <h2>Organise</h2>
                    <h2>Your</h2>
                    <h3>Schooling</h3>
                    <a href="#benefits_section">Learn More</a>
                </div>
                <div class="col-12 col-lg-8">
                    <img src="https://www.freevector.com/uploads/vector/preview/28148/EducationBackground_Preview_03.jpg"
                        alt="Team process banner">
                </div>
            </div>
        </div>
        <%- include ('partials/benefits') %>
        <%- include ('partials/features') %>
        <%- include ('partials/pricing_section') %>
            <%- include ('partials/testimonial') %>
                <%- include ('about_section') %>
                <%- include ('partials/newsletter') %>
                





                    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                        crossorigin="anonymous">
                        </script>

                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                        crossorigin="anonymous">
                        </script>
                    <%- include ('partials/footer') %>